#head {
    font-size: 45px;
    text-align: center;
    background: lightblue;
}

#navButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: wavy;
    display: inline-block;
    font-size: 16px;
}

footer {
    background: #aaa;
    color: white;
    text-align: center;
}